@using X.PagedList;
@using X.PagedList.Mvc.Core;

@model IPagedList<HaberBlogSitesi.Models.Blog>


@*@using HaberBlogSitesi.Models
    @model List<Blog>*@



@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br />
<table class="table table-bordered">
    <tr>
        <th>ID</th>
        <th>BLOG BAŞLIK</th>
        <th>KATEGORİ</th>
        <th>Sil</th>
        <th>Güncelle</th>

    </tr>

    @foreach (var x in Model)
    {
        <tr>
            <td>@x.BlogID</td>
            <td>@x.BlogTitle</td>
            <td>@x.Category.CategoryName</td>
            @*<td><a href="/Admin/BlogSil/@x.BlogID" class="btn btn-danger">Sil</a></td>*@
            <td><a href="/Admin/BlogSil/@x.BlogID" onclick="return confirm('Silmek istediğinize emin misiniz?');" class="btn btn-danger">Sil</a></td>
            <td><a href="/Admin/BlogGuncelle/@x.BlogID" class="btn btn-success">Güncelle</a></td>


        </tr>

    }

</table>
@Html.PagedListPager((IPagedList)Model, page => Url.Action("Index", new { page }))

<a href="/Admin/YeniBlog/" class="btn btn-primary">Yeni Blog Ekle</a>





