@using HaberBlogSitesi.Models
@model List<Blog>

@{
    ViewData["Title"] = "BlogByCategory";
    Layout = "~/Views/Shared/_BlogLayout.cshtml";
} 


<div class="comments" style="margin-top:10px;">
    <h1>@ViewBag.d1 Kategorisine ait Bloglar</h1>
    <br />

    <br />

    <ul class="list list-pad">
        @{ int i = 0;}
        @foreach (var t in Model)
        {

            <li class="list-bg"><a href="/Default/BlogDetay/@t.BlogID"><span>@{i++; } @i.</span>@t.BlogTitle</a></li>
        }


    </ul>

    

</div>


    


